// Colors
$primary: #F5A623;
$primary-dark: #854F0B;
$primary-light: #FAEEDA;
$primary-lighter: #FFFDF5;
$white: #ffffff;

// Text
$text-dark: #412402;
$text-medium: #854F0B;
$text-light: rgba(255, 255, 255, 0.7);

// Border
$border-primary: rgba(245, 166, 35, 0.4);
$border-light: #FAC775;

// Status colors
$online: #3B6D11;
$online-bg: #EAF3DE;
$offline: #5F5E5A;
$offline-bg: #F1EFE8;

$danger: #E24B4A;
$danger-bg: #FCEBEB;
$info: #185FA5;
$info-bg: #E6F1FB;

// Sidebar
$sidebar-width: 220px;

// Font sizes
$font-xs: 11px;
$font-sm: 12px;
$font-md: 13px;
$font-lg: 15px;
$font-xl: 18px;
$font-xxl: 24px;

// Border radius
$radius-sm: 6px;
$radius-md: 8px;
$radius-lg: 12px;
$radius-pill: 20px;

// Spacing
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;

//warning
$warning: #F59E0B;
$warning-bg: #FEF3C7;